body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71,3,6,0.7);
}

.title {
    font-family: sans-serif;
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

label {
    margin-bottom: 35px;
}

form i {
    font-size: 20px;
    color:#063F9C;
    margin-right: 10px;
}

input {
    color: #252525;
    padding: 0 5px;
    font-size: 18px;
}

input::placeholder {
    color: rgba(37,37,37,0.5)
}

button {
    color:#fff;
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%) ;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

#inlineFormCustomSelectPref {
    width: 187px;
}
